*{
    box-sizing: border-box;
}
body{
 margin: 0px;
padding: 0px; 
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 84px;
    background-color: #F5F7FA;
   margin-top: 0px;
}
.header-logo{
    width:182px;
    height: 24px;
    display: flex;
    
}
.a-tags{
}
a{
    color:#18191F;
    text-decoration: none;
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    margin-right: 20px; 
}
.btn-header{
    width: 182px;
    height: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    border: none;
    
}
h1{
    font-size: 64px;
}
br{
    color: #4CAF4F;
}
.pone{
    color: #717171;
    font-size: 16px;

}
.btn-1{
    background-color: #4CAF4F;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 6px;
    border: none;
    text-align: center;

}
.heroimg-1{
    display: flex;
    
}
.main-1{
    background-color:#F5F7FA;
    display: flex;
    justify-content: space-around;

}
h2{ 
    text-align: center;
    font-size: 36px;
}
.ptwo{
text-align: center;
}
.logo-2{
    display: flex;
    justify-content: space-around;
}
.main-2{
}
.pthree{
    text-align: center;
}
.main-3{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius:6px ;
}
.main3-content{
    border-radius:6px ;
    box-shadow: 0px 2px 4px 0px rgba(172, 190, 209, 0.2);
    border: none;
}
.section-p2{
text-align: justify;
width: 450px;
}
.main2-1{
        display: flex;
        justify-content: space-around;
} 
.main2-1p{
    width: 580px;
    color: #717171;
}
.main2-btn{
    background-color: #4CAF4F;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 6px;
    border: none;
    text-align: center; 
}
.main2-pic{
}
.main2-div{
}
.main2-2p{
    color: #18191F;
    font-size: 16px;
    width: 450px;   
}
.main2-div2{
   
}
.main2{
    display: flex;
    justify-content: space-around;
    background-color:#F5F7FA;
    height: 288px;
    align-items: center;
}
.main2-div3 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 5px; 
    padding: 5px; 
    width: 600px;
}

.item {
    flex: 1 1 calc(50% - 20px); 
    display: flex;
    align-items: center;
}

.item img {
    margin-right: 10px;
}

.text-value {
    font-size: 30px;
    font-weight: bold;
    align-items: center;
}
.main3{
    display: flex;
    width:1435px;
    height:434px;
    gap: 50px;
    justify-content: space-around;
   align-items: center;
}
.main3-pic{
}
.main3-p{
    width: 580px;
 
}
.main3-h2{
    text-align: justify;
    width: 550px;
}
.main3-btn{
    background-color: #4CAF4F;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 6px;
    border: none;
    text-align: center;    
}
.main4{
    display: flex; 
    justify-content: space-around;
    width: 1435px;
    background: #F5F7FA;
    align-items: center;
}
.main4-pic1{

}
.main4-div2{
    width: 650px; 
}
.main4-icons{
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
h3{
    align-items: center;
}
.main5{
    height: 500px;
}
.main5-div2{
 position: relative;
     
}
.main5-div{
}
.main5-content{
    background-color:#F5F7FA;
    width: 250px;
    height: 150px;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 55px;
    top: 195px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 16px 8px 0px #ABBED1
}
.main5-content1{
    position: absolute;
    left: 100px;
}
.main5-content2{
    position: absolute;
    left: 480px;
}
.main5-content3{
    position: absolute;
    left: 860px; 
}
.main5-p{
   text-align: center;
}
.section2{
    display: flex;
    justify-content: space-around;
}
.mainc-1{
    text-align: center;
    font-size: 64px;
    height: 350px;
    
} 
.main5-2{
    display: flex;   
    gap: 250px;
    background-color: #263238;
    color: white;
    justify-content: space-around;
    padding: 15px 30px 15px 30px;
}  
.btn2{
    background-color: #4CAF4F;
    color: white;
    border-radius: 6px;
    border: none;
    text-align: center;   
    padding: 15px 30px 15px 50px;
    align-items: center;
    
}
.main5-logo{
    text-align:justify;
}
.logo5{
    width: 50px;
}
.main5-list{
    display:flex;
    justify-content: space-around;
    gap: 50px;

}

